<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" />
  <package id="Google.Protobuf" version="3.5.1" />
  <package id="Microsoft.Web.Xdt" version="2.1.0" />
  <package id="MySql.Data" version="8.0.14" />
  <package id="NuGet.Core" version="2.14.0" />
</packages>